@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: white;   
  }

a {
    text-decoration: none;
}
.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
}

h1 {
    font-family: inherit;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

h2 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}

.h2 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}

h3 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}

.page-header {
    color: #000000;
    background-color: white;
  }

.navigation-link {
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.advantages {
    text-align: center;
}

.advantages-description {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
}

.adv1, .adv2 {
    background-color: #82B3D3;
    color: #ffffff;
}

.adv4, .house, .present {
    background-color: rgba(131, 179, 211, 0.12);
}

.adv3, .adv5 {
    background-color: rgba(131, 179, 211, 0.2);
}

.hotels {
    text-align: center;
}

.subscription {
    background-image: url("../images/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }

.hotels-form {
    background-image: url("../images/background-hotel.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
}

.product-card-title {
    text-decoration: none;
    color: #000000;
    text-align: left;
    text-transform: none;
}
b {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
}
.product-card-rate {
    background-color: #F2F2F2
}

.pagination-link {
    background-color: #82B3D3;
    color:#ffffff;
}

.pagination-current {
    background-color: #F2F2F2;
    color:#000000;
}
.catalog-filter-title {
    font-family: inherit;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}
.control {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.find-count {
    text-align: left;
}

.subscription-catalog {
    background-image: none;
    color:#000000;
}